<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hoi</title>
</head>
<body>
<h1>Hoi</h1>

<fieldset>
    <legend>{vraag.vraagtekst}</legend>

    <div>
        <input type="radio" id="antwoordA" name="drone" value="antwoordA"/>
        <label for="antwoordA">{vraag.antwoordA}</label>
    </div>

    <div>
        <input type="radio" id="antwoordB" name="drone" value="antwoordB" />
        <label for="antwoordB">{vraag.antwoordB}</label>
    </div>

    <div>
        <input type="radio" id="antwoordC" name="drone" value="antwoorC" />
        <label for="antwoordC">{vraag.antwoordC}</label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</fieldset>


</body>
</html>
